.button {
  background: #3D4C53;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.btnText {
  color: white;
  transition: .3s;
  text-transform: uppercase;
  font-family: 'Open Sans';
}

.btnText2 {
  margin-top: 63px;
  margin-right: -120px;
  color: #FFF;
  font-family: 'Raleway';
}

.button:hover .btnTwo {
  left: -130px;
}

.button:hover .btnText {
  margin-left: 65px;
}

.button:active {
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.btnTwo {
  position: relative;
  width: 165px;
  height: 100px;
  margin-top: -100px;
  padding-top: 3px;
  background: #0072c6;
  left: -250px;
  transition: .3s;
}

p {
  margin: 15px;
}

.product {
  border: 1px solid #cccccc;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

h4 {
  font-family: 'Raleway';
  color: #e24f43;
  font-weight: 400;
  margin-top: 0;
}

459 {
}

.h1, h1 {
  font-family: 'Droid Serif';
  font-weight: 700;
  margin: 0;
}

